<?xml version="1.0"?>
<!--

-->
<launch>
<include file="$(find mocap_qualisys)/resources/camera_comp/transforms.launch" />

<group ns="zed">
  <include file="$(find svea_sensors)/launch/zed_camera.launch">
    <arg name="camera_model"        value="zedm" />
    <arg name="spatial_memory"      value="false" />
    <arg name="publish_tf"        default="false" /> 
            
  </include>
  <node pkg="mocap_qualisys"
        type="synchronize_mocap.py"
        name="sync_mocap_zed"
        output="screen">
    <param name="parent_topic" value="/qualisys/svea3/pose"/>
    <param name="child_topic" value="zed_node/odom"/>
    <param name="child_frame" value="base_link"/>
    <param name="sync_topic" value="/comp/sync"/>
    <param name="sync_at_init" value="False"/>
  </node>
</group>

<group ns="rs">
  <rosparam>
      realsense_camera/tracking_module/enable_relocalization: false
      realsense_camera/tracking_module/enable_pose_jumping: false
  </rosparam>
  
  <include file="$(find svea_sensors)/launch/rs_t265.launch"> 
    <arg name="publish_odom_tf"     value="false"/>
  </include>
  <node pkg="mocap_qualisys"
         type="synchronize_mocap.py"
         name="sync_mocap_rs"
         output="screen">
    <param name="parent_topic" value="/qualisys/svea3/pose"/>
    <param name="child_topic" value="realsense_camera/odom/sample"/>
    <param name="child_frame" value="rs_base_link"/>
    <param name="sync_topic" value="/comp/sync"/>
    <param name="sync_at_init" value="False"/>
  </node>

</group>

<node pkg="mocap_qualisys"
      type="mocap_qualisys_node"
      name="qualisys"
      output="screen">
  <param name="server_address" value="11.0.0.10"/>
  <param name="server_base_port" value="22222"/>
  <param name="frame_rate" value="100"/>
  <param name="max_accel" value="10.0"/>
  <param name="publish_tf" value="false"/>
  <param name="fixed_frame_id" value="mocap"/>
  <rosparam param="model_list">[]</rosparam>
 </node>

<node 
  pkg="rosbag"
  type="record"
  name="record"
  output="screen"
  args="-o /home/nvidia/bagfiles/ /qualisys/svea3/pose /rs/realsense_camera/odom/sample /zed/zed_node/odom /rosout /parameter_descriptions /parameter_updates"
  launch-prefix="bash -c 'sleep 10; $0 $@' "/>

</launch>
